ul li ul {
    display:none;
}

body {
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", sans-serif
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    COLOR: cornflowerblue;
    TEXT-DECORATION: none;
    cursor:pointer;
}

.menu {
    border-left: 1px solid black;
    padding-left: 3px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    padding-top: 5px;
    margin-left: 13px;
}

li {
    list-style-type: none;
    padding-left: 3px;
    line-height: 150%;
}

li ul {
    margin-left: 18px;
    height: auto !important;
}

.fa-internet-explorer{
    color:cornflowerblue;
}
.fa-folder{
    color: gold;
}
.fa-cog{
   margin-top:2px;
}

#footer{
text-align:center;
margin-top:-30px;
color:#5C5C5C;
font-size:9px;
-webkit-text-size-adjust: 100%;
}

.res {
    border-style: solid;
    border-width: 1;
    margin: 0 2 0 2;
    padding: 0 2 0 2
}

.result {
    background: yellow
}

.forkit {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 100px;
    font-family: 'Lato', sans-serif;
    text-decoration: none
}

.forkit .tag {
    display: block;
    height: 30px;
    width: 200px;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-transform-origin: 15px 0;
    -moz-transform-origin: 15px 0;
    -ms-transform-origin: 15px 0;
    -o-transform-origin: 15px 0;
    transform-origin: 15px 0
}